%h1 Listing questions  
.pull-right.btn.btn-default
  = link_to 'New Question', new_question_path
.table-responsive
  %table.table
    %thead
      %tr
        %th #
        %th Question
        %th 
        %th 
        %th 
    %tbody
      - @questions.each do |question|
        %tr
          %td= question.id
          %td= question.question
          %td= link_to 'Show', question
          %td= link_to 'Edit', edit_question_path(question)
          %td= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }

= will_paginate @questions