!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BugTrivia
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if notice
      %p.alert.alert-success 
        = notice
    - if alert
      %p.alert.alert-danger
        = alert    

    = render "shared/navigation"
    .container
      = yield
  = javascript_include_tag 'base', 'data-turbolinks-track' => true
