!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title B.U.G. Mafia - Trivia
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render "shared/scripts"
    - if notice
      %p.alert.alert-success
        = notice
    - if alert
      %p.alert.alert-danger
        = alert
    = render "shared/navigation"
    = yield
    %footer{class: "footer"}
      .container-fluid.center
        = "Powered by A.E.B."
        %a{href: "https://github.com/cbordei/trivia", target: "blank"}
          = image_tag "github_logo.png", size: "30x30"

    .hidden
      = image_tag "maxresdefault.jpg", id: "share_image_tag"
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
